<%- include('./partials/navbar') %>
    <%- include('./partials/header') %>

        <h1>
            This is an EJS</h1>

        <!-- <h2>Random Number :
        <%= random = Math.floor(Math.random()*10); %>
    </h2>

    <h2>
        <% if(random%2===0){ %>
            <h2>This is an even number</h2>
            <%}
        else{%>
                <h2>This is an odd number</h2>
                <%}%>
    </h2> -->


        <h2> Random number :
            <%=random%>
        </h2>
        <h2>
            <% if(random%2===0){ %>
                <h2>This is an even number</h2>
                <%}
        else{%>
                    <h2>This is an odd number</h2>
                    <%}%>
        </h2>

        <%- include('./partials/card') %>
            <%- include('./partials/footer') %>